[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    PRINT_END
    CANCEL_PRINT_BASE

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    SET_SKEW CLEAR=1
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F3600                 ; retract filament
    G91                            ; relative positioning
    G0 Z3.00 X20.0 Y20.0 F20000   ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    SET_PIN PIN=bed_contactor VALUE=0           ; deactivate bed contactor
    M107                           ; turn off fan
    G1 Z4 F3000                    ; move nozzle up 4mm
    PARK
    BED_MESH_CLEAR
