#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: Generic 3950
sensor_pin: PB0 # Spider 2.x
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120

#####################################################################
#   Bed Mesh
#####################################################################

[bed_mesh]
zero_reference_position: 150, 150
speed: 500
horizontal_move_z: 2
mesh_min: 20,22
mesh_max: 330,330
probe_count: 30,30
split_delta_z: .0125
algorithm: bicubic
mesh_pps: 2, 2
bicubic_tension: 0.1
fade_start: 0.5
fade_end: 2

#####################################################################
#   Gantry Leveling (QGL)
#####################################################################

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
##	Probe points
points:
  50,25
  50,275
  300,275
  300,25
speed: 350
horizontal_move_z: 20
retries: 50
retry_tolerance: 0.0065
max_adjust: 15

#####################################################################
#   Axis Twist Compensation
#####################################################################

[axis_twist_compensation]
calibrate_start_x: 22
calibrate_end_x: 308
calibrate_start_y: 22
calibrate_end_y: 308
calibrate_x: 175
calibrate_y: 175

#####################################################################
#   Cartographer Probe
#####################################################################

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 22
verbose: yes

[cartographer touch]
samples: 5
max_samples: 20

[cartographer scan]
mesh_runs: 2

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105
