#####################################################################
#   Chamber Heater
#####################################################################

## Calibrated against a PT100 reference
[thermistor Trianglelab NTC100K B3950]
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

[heater_generic heater_chamber]
heater_pin: PA14 # fan pin that controls bed fans
sensor_type: Trianglelab NTC100K B3950
sensor_pin: PC0 # chamber thermistor
#Do not touch pid info or anything below here
control: pid
pid_Kp: 61.470837
pid_Ki: 0.5
pid_Kd: 0
pwm_cycle_time: 0.3
min_temp: 1
max_temp: 110

[verify_heater heater_chamber]
max_error: 120
check_gain_time: 120
hysteresis: 50
heating_gain: 1

#####################################################################
#   Bed Contactor
#####################################################################

[output_pin bed_contactor]
pin: PB3
pwm: False
value: 0
shutdown_value: 0
