## Spider board as USB-to-CAN bridge
[mcu]
canbus_uuid: 98e1c9b5e065

## EBB CAN toolhead board
[mcu EBBCan]
canbus_uuid: da76ac7cc228

## Cartographer probe MCU
[mcu cartographer]
canbus_uuid: 23d889b1a0d7
