#####################################################################
#   Filament Sensors
#####################################################################

[filament_switch_sensor btt_switch]
switch_pin: ^PA3
pause_on_runout: True
runout_gcode:
  PAUSE
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor btt_encoder]
switch_pin: ^PA2
detection_length: 10
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted

[filament_switch_sensor toolhead_bottom]
switch_pin: ^!EBBCan:PB5
pause_on_runout: False
debounce_delay: 1
runout_gcode:
  RESPOND TYPE=command MSG='Toolhead bottom runout'
insert_gcode:
  RESPOND TYPE=command MSG='Toolhead bottom insert'

[filament_switch_sensor toolhead_top]
switch_pin: ^!EBBCan:PB7
pause_on_runout: False
debounce_delay: 1
runout_gcode:
  RESPOND TYPE=command MSG='Toolhead top runout'
insert_gcode:
  RESPOND TYPE=command MSG='Toolhead top insert'

#####################################################################
#   MCU / Host Temperature Sensors
#####################################################################

[temperature_sensor main_mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 150

[temperature_sensor can_mcu_temp]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 150

[temperature_sensor host]
sensor_type: temperature_host
min_temp: 0
max_temp: 150
